<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body style="background-color:<%=colors%>">
	<h1>Compliment Generator</h1>
	<div class="sayings"><%= name + ' ' +sayings%></div>
</body>
</html>