* {
	box-sizing: border-box;
		text-align: center;
}

body {
	background: Aliceblue;
	font-family: sans-serif;	
}

h1 {
	color: black;
}

h2 {
	letter-spacing: 1px;
}

h5 {
	font-style: italic;
	text-decoration: underline;	
}

div {
	display: block;	
	justify-content: space-around;
	padding: 10px;
	margin: 20px;
}

input {
	padding: 5px;
	margin: 10px;
	width: 90%;
	font-size: 1em;	
}

.account {
	display: inline-block;
	width: 90%;
	border: 1px solid black;
	background-color: #6495ED;
	border: solid 1px grey; 
}
@media (min-width: 40em) {
	div {
		display: flex;
	}
}
	

