<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NMDB</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
	<h1>NMDB</h1>
  <%= yield %>
	<a href="/">Index</a>
</body>
</html>