<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
</head>
<body>
	<h1>NMDB</h1>
	<%= yield %>




	<footer>&copy; copyright
		<nav>
			
			<a href="/">Index</a>
			
		</nav>
	</footer>
</body>
</html>